[submodule "Demiurgic-JSON-RPC"]
	path = Demiurgic-JSON-RPC
	url = https://github.com/dbowen/Demiurgic-JSON-RPC.git
[submodule "JSONKit"]
	path = JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "RHKeychain"]
	path = RHKeychain
	url = https://github.com/heardrwt/RHKeychain.git
[submodule "KSReachability"]
	path = KSReachability
	url = https://github.com/kstenerud/KSReachability.git
