[submodule "mac/Demiurgic-JSON-RPC"]
	path = mac/Demiurgic-JSON-RPC
	url = https://github.com/blockhaus/Demiurgic-JSON-RPC.git
[submodule "mac/JSONKit"]
	path = mac/JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "mac/RHKeychain"]
	path = mac/RHKeychain
	url = https://github.com/heardrwt/RHKeychain.git
[submodule "mac/KSReachability"]
	path = mac/KSReachability
	url = https://github.com/kstenerud/KSReachability.git
[submodule "web"]
	path = web
	url = https://github.com/blockhaus/kimai.git
